
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 35px;

 
}

h2{
    font-size: 40px;
    color: #EC4F8F;
    
}

#name{
    padding-top: 10%;
     }

p{
    font-size: 20px;
    font-weight: lighter;
    color: dimgrey;
    padding-top: 30px;
}
.button{
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, #EC4F8F);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.half-width{
    width: 40%;
    float: left;
    margin: 20px;
    padding-top: 5%x;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
    }



.top-area{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

section{ 
    height: 1000px;
    }

.bio-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    display:inline-block;

}

.latest-area h1{
    font-size: 35px;
    text-align: center;
}


.container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.content{
    width: 28%;
    margin: 50px;
}

.content img{
    width: 100%;
    height: auto;
}
.last-area h1{
    font-size: 35px;
    text-align: center;
}

.last-area h5{
    font-size: 20px;
    text-align: center;
}
.last-area h6{
    font-size: 15px;
    text-align: center;
    color: dimgrey;
}
.para{
     padding: 50px 400px;
}

.last-area p{
    font-size: 15px;
    text-align: center;
    color: dimgrey;
    
}


.message h5{
     
    font-size: 15px;
  text-align: center;
  color: white;
}
.message a{
    font-size: 20px;
  display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
  
}
.message{

    height: 150px;
    width: 450px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, lightSalmon, #EC4F8F);
    padding: 10px;
    margin: 50px auto;
    position: relative;
  
}
footer{
    color: dimgray;
 text-align: center;

}





